@import url('./edosz.css');
@import url('./RobotoRegular.css');
@import url('./RobotoBold.css');
/*
Unités de dimension les plus utilisés en web

px          =>  Pixel
em          =>  cadratin : unité de mesure en print sur les presses. 
                le cadratin se calcul part rapport à la taille de la police dans l'élément parent
rem         =>  cadratin racine : se calcul part rapport à la taille de la police dans l'élément racine
%           =>  Pourcentage, de l'espace disponible autour de l'élément
vw & vh     =>  vw : viewport widthn; vh : viewport height

*/

/* déclaration racine : root */

:root{
    font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;
    /* on peut créer des variables en CSS */
    --heading-font: 'edosz';
    --site-background: white;
    --site-primary-color: black;
    --site-header-background: rgba(0, 0, 0, 1);
    --site-header-color: white;
    --nav-link-background: var(--site-header-background);
    --nav-link-color: var(--site-header-color);
    --site-footer-background: var(--site-header-background);
    --site-footer-color: var(--site-header-color);
    --goutiere-article: 0.5rem;
    --button-link-background: var(--site-header-color);
    --button-link-color: var(--site-header-background);
    --site-background-25: rgba(0, 0, 0, 0.25);
    font-size: 1.1rem;
    line-height: 1.6rem;
    --swiper-theme-color: var(--site-header-background);
    --colonne-1-1: 100%;
    --colonne-1-2: calc( 50% - 2 * var(--goutiere-article) );
    --colonne-1-3: calc( 33% - 2 * var(--goutiere-article) );
    --colonne-2-3: calc( 66% - 2 * var(--goutiere-article) );
    --colonne-1-4: calc( 25% - 2 * var(--goutiere-article) );
    --colonne-3-4: calc( 75% - 2 * var(--goutiere-article) );
    --article-information-width: calc( 350px - 2 * var(--goutiere-article) );
    --article-contenu-width: calc( 100% - var(--article-information-width) - 2 * var(--goutiere-article));
}

/* on a généralement quelques règles CSS en début de fichier pour gérer certains réglages par défaut des navigateurs */
/* déclarations générales */
*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    margin: 0;
    letter-spacing: 0.08rem;
}

b, strong{
    font-family: 'RobotoBold';
}

figure{
    text-align: center;
}

figure figcaption{
    text-align: left;
}

/* classes */

.content-width{
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    box-sizing: content-box;
}

.border-width{
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

.deuxEm{
    font-size: 2em;
    margin: 2rem;
    border: 1px solid black;
}

.deuxRem{
    font-size: 2rem;
    margin: 2rem;
    border: 1px solid black;
}

.header, .footer, body section article{
    padding: var(--goutiere-article);
}

.conteneur{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.information h3{
    text-align: center;
}

/* surcharge des classes du swiper */
.carousel{
    padding: 2rem 0.5rem;
}

.center-swiper{
    text-align: center;
}

.swiper-slide img{
    max-height: 400px;
    margin-bottom: 1.5rem;
}

.information{
    background-color: var(--site-background-25);
}

.information table tr:nth-last-of-type(even){
    background-color: var(--site-background-25);
}

.information table{
    border-collapse: collapse;
    width: 100%;
}

.information table th, .information table td{
    padding: 0.5rem;
}

.information table th{
    vertical-align: top;
    text-align: left;
    width: 150px;
}

.table{
    border-collapse: collapse;
    width: 100%;
}

.table tr > *{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.table td{
    text-align: right;
    padding: 2px;
}

.table tr th:first-child{
    text-align: left;
    width: 250px;
}

.table thead{
    background-color: var(--site-header-background);
    color: var(--site-header-color);
}

.table tbody tr:nth-of-type(even){
    background-color: var(--site-background-25);
}

.table tfoot tr > *{
    border-bottom: 1px solid black;
}

/*
.footer{
    
}
*/

/* structure */
body{
    margin: 0;
    background-color: var(--site-background);
    color: var(--site-primary-color);
}

body > header{
    background-color: var(--site-header-background);
    color: var(--site-header-color);
}

body > nav{
    background-color: var(--nav-link-background);
}

body > nav ul{
    list-style-type:none;
    padding: 0.5rem;
    padding-bottom: 0;
    margin: 0;
    line-height: 2.5rem;
}

body > nav ul li{
    border-bottom: 1px solid var(--nav-link-color);
}

body > nav ul li:last-child{
    border-bottom-color: transparent;
}

body > nav ul li:last-child:hover{
    border-bottom-color: var(--nav-link-background);
}

body > nav ul li a, body > nav ul li a:visited{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding-left: 1rem;
}

body > nav ul li a:hover, body > nav ul li a:focus{
    color: var(--nav-link-background);
    background-color: var(--nav-link-color);
}

body > main > section{
    display: flex;
    flex-wrap: wrap;
}

body > main > section > article{
    width: 100%;
    /*border: 1px solid black;*/
    margin: var(--goutiere-article);
}

body main article header{
    margin-bottom: 1rem;
}

body main article footer{
    margin-top: 1rem;
    text-align: center;
}

body main article footer button{
    padding: 0.5rem 1rem;
    border: 2px solid var(--button-link-color);
    color: var(--button-link-color);
    background-color: var(--button-link-background);
    text-transform: uppercase;
    font-family: 'RobotoBold';
}

article main.article{
    display: flex;
    flex-direction: column-reverse;
}

main.article .information{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 3px solid var(--site-background-25);
}

main.article .contenu{
    padding: 0.5rem;
    border: 3px solid transparent;
}

body main article footer button:hover{
    color: var(--button-link-background);
    background-color: var(--button-link-color);
}

body > footer{
    background-color: var(--site-footer-background);
    color: var(--site-footer-color);
}

/* 
media querie : appliquer des style ou des surcharge de style existant selon des paramètres tels que 
- orientation de l'affichage
- largeur minimale ou maximale de l'écran
- affichage pour l'écran ou l'impression

*/

@media print {
    body > nav, body > footer, button{
        display: none;
    }

    body{
        font-family: serif;
    }
}

@media screen and (min-width: 576px) {
    .conteneur{
        width: 540px;
    }

    body > nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    body > nav ul li{
        border-bottom-color: var(--nav-link-background);
    }

    body > nav ul li a{
        padding-left: var(--goutiere-article);
        padding-right: var(--goutiere-article);
    }
}

@media screen and (min-width: 768px) {
    .conteneur{
        width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .conteneur{
        width: 960px;
    }

    body > main > section > article{
        width: var(--colonne-1-2);
    }
    
    body > main > section > article:last-child:nth-of-type(2n + 1){
        width: var(--colonne-1-1);
    }

    article main.article{
        flex-direction: row;
        flex-wrap: wrap;
    }

    main.article .information{
        width: var(--article-information-width);
        margin-right: var(--goutiere-article);
    }
    
    main.article .contenu{
        margin-left: var(--goutiere-article);
        width: var(--article-contenu-width);
    }
}

@media screen and (min-width: 1200px) {
    .conteneur{
        width: 1140px;
    }
    
    body > main > section > article:last-child:nth-of-type(2n + 1){
        width: var(--colonne-1-3);
    }

    body > main > section > article{
        width: var(--colonne-1-3);
    }

    body > main > section > article:last-child:nth-of-type(3n + 2){
        width: var(--colonne-2-3);
    }
    
    body > main > section > article:last-child:nth-of-type(3n + 1){
        width: var(--colonne-1-1);
    }

    body > main > section > article:last-child:nth-of-type(3n + 1) main:not(body > main > section > article:last-child:nth-of-type(3n + 1) main.article){
        columns: 3;
    }

}

@media screen and (min-width: 1400px) {
    .conteneur{
        width: 1320px;
    }

}

@media screen and (min-width: 1600px) {
    .conteneur{
        width: 1560px;
    }
}