@import url('./edosz.css');
@import url('./RobotoRegular.css');
@import url('./RobotoBold.css');
/*
Unités de dimension les plus utilisés en web

px          =>  Pixel
em          =>  cadratin : unité de mesure en print sur les presses. 
                le cadratin se calcul part rapport à la taille de la police dans l'élément parent
rem         =>  cadratin racine : se calcul part rapport à la taille de la police dans l'élément racine
%           =>  Pourcentage, de l'espace disponible autour de l'élément
vw & vh     =>  vw : viewport widthn; vh : viewport height

*/

/* déclaration racine : root */

:root{
    font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;
    /* on peut créer des variables en CSS */
    --heading-font: 'edosz';
    --site-background: white;
    --site-primary-color: black;
    --nav-link-background: black;
    --nav-link-color: white;
    --site-header-background: black;
    --site-header-color: white;
    --site-footer-background: var(--site-header-background);
    --site-footer-color: var(--site-header-color);
    --goutiere-article: 0.5rem;
    --button-link-background: white;
    --button-link-color: black;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

/* on a généralement quelques règles CSS en début de fichier pour gérer certains réglages par défaut des navigateurs */
/* déclarations générales */
*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    margin: 0;
    letter-spacing: 0.08rem;
}

b, strong{
    font-family: 'RobotoBold';
}

/* classes */

.content-width{
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    box-sizing: content-box;
}

.border-width{
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

.deuxEm{
    font-size: 2em;
    margin: 2px;
    border: 1px solid black;
}

.deuxRem{
    font-size: 2rem;
    margin: 2px;
    border: 1px solid black;
}

.header, .footer, body section article{
    padding: var(--goutiere-article);
}

.conteneur{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*
.footer{
    
}
*/

/* structure */
body{
    margin: 0;
    background-color: var(--site-background);
    color: var(--site-primary-color);
}

body > header{
    background-color: var(--site-header-background);
    color: var(--site-header-color);
}

body > nav{
    background-color: var(--nav-link-background);
}

body > nav ul{
    list-style-type:none;
    padding: 0.5rem;
    padding-bottom: 0;
    margin: 0;
    line-height: 2.5rem;
}

body > nav ul li{
    border-bottom: 1px solid var(--nav-link-color);
}

body > nav ul li:last-child{
    border-bottom-color: transparent;
}

body > nav ul li:last-child:hover{
    border-bottom-color: var(--nav-link-background);
}

body > nav ul li a, body > nav ul li a:visited{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding-left: 1rem;
}

body > nav ul li a:hover, body > nav ul li a:focus{
    color: var(--nav-link-background);
    background-color: var(--nav-link-color);
}

body main article footer{
    text-align: center;
}

body main article footer button{
    padding: 0.5rem 1rem;
    border: 2px solid var(--button-link-color);
    color: var(--button-link-color);
    background-color: var(--button-link-background);
    text-transform: uppercase;
    font-family: 'RobotoBold';
}

body main article footer button:hover{
    color: var(--button-link-background);
    background-color: var(--button-link-color);
}

body > footer{
    background-color: var(--site-footer-background);
    color: var(--site-footer-color);
}

/* 
media querie : appliquer des style ou des surcharge de style existant selon des paramètres tels que 
- orientation de l'affichage
- largeur minimale ou maximale de l'écran
- affichage pour l'écran ou l'impression

*/

@media print {
    body > nav, body > footer, button{
        display: none;
    }

    body{
        font-family: serif;
    }
}

@media screen and (min-width: 576px) {
    .conteneur{
        width: 540px;
    }

    body > nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    body > nav ul li{
        border-bottom-color: var(--nav-link-background);
    }

    body > nav ul li a{
        padding-left: var(--goutiere-article);
        padding-right: var(--goutiere-article);
    }
}

@media screen and (min-width: 768px) {
    .conteneur{
        width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .conteneur{
        width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .conteneur{
        width: 1140px;
    }
}

@media screen and (min-width: 1400px) {
    .conteneur{
        width: 1320px;
    }
}

@media screen and (min-width: 1600px) {
    .conteneur{
        width: 1560px;
    }
}