@import url('./edosz.css');
@import url('./RobotoRegular.css');
@import url('./RobotoBold.css');
/*
Unités de dimension les plus utilisés en web

px          =>  Pixel
em          =>  cadratin : unité de mesure en print sur les presses. 
                le cadratin se calcul part rapport à la taille de la police dans l'élément parent
rem         =>  cadratin racine : se calcul part rapport à la taille de la police dans l'élément racine
%           =>  Pourcentage, de l'espace disponible autour de l'élément
vw & vh     =>  vw : viewport widthn; vh : viewport height

*/

/* déclaration racine : root */

:root{
    font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;
    /* on peut créer des variables en CSS */
    --heading-font: 'edosz';
    --site-background: white;
    --site-primary-color: black;
    --site-header-background: black;
    --site-header-color: white;
    --site-footer-background: var(--site-header-background);
    --site-footer-color: var(--site-header-color);
    --goutiere-article: 0.5rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

/* on a généralement quelques règles CSS en début de fichier pour gérer certains réglages par défaut des navigateurs */
/* déclarations générales */
*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    margin: 0;
}

b, strong{
    font-family: 'RobotoBold';
}

/* classes */

.content-width{
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    box-sizing: content-box;
}

.border-width{
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

.deuxEm{
    font-size: 2em;
    margin: 2px;
    border: 1px solid black;
}

.deuxRem{
    font-size: 2rem;
    margin: 2px;
    border: 1px solid black;
}

.header, .footer, body section article{
    padding: var(--goutiere-article);
}

.conteneur{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*
.footer{
    
}
*/

/* structure */
body{
    margin: 0;
    background-color: var(--site-background);
    color: var(--site-primary-color);
}

body > header{
    background-color: var(--site-header-background);
    color: var(--site-header-color);
}

body > nav ul{
    list-style-type:none;
    padding: 0;
    margin: 0.5rem;
    line-height: 2rem;
}

body > nav ul li a{
    display: block;
}

body > footer{
    background-color: var(--site-footer-background);
    color: var(--site-footer-color);
}